<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="TERRABIT_2015_DEVEntities" connectionString="metadata=res://*/NavScm.NavInterface.SQL.Model1.csdl|res://*/NavScm.NavInterface.SQL.Model1.ssdl|res://*/NavScm.NavInterface.SQL.Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=tbrt-sql-erp-01;initial catalog=&quot;TERRABIT 2015 DEV&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
